DATABASE_URL="mysql://user:password-@server:3306/database" #mysql string connection
NEXTAUTH_SECRET=secretnextauth #Token Random
NEXTAUTH_URL=http://localhost:3000 #URL 

SECRET_KEY=keychangesecret #Token Random

# Primer usuario para acceso al dashboard

USERNAME="root" # nombre de usuario por defecto
PASSWORD="mypassword" # contraseña del usuario